.note {
    display: flex;
}
.note textarea{
    height: 100px;
    width: 50%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #2B3726;
    border-radius: 6px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin-bottom: 16px;
    margin-right: 24px;
    margin-left: 20%;
    align-items: center;
}

.btn_save{
    background-color: #74AA9D;
    height: 100%;
    color: white;
    margin-bottom: auto;
    margin-top: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: 2px solid #2B3726;
    border-radius: 6px;
}
.btn_save:hover{
    color: black;
    background-color: #607E77;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: 2px solid #2B3726;
    border-radius: 6px;
}

.btn_delete{
    height: 100%;
    margin-bottom: auto;
    margin-top: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #898989;
    color: white;
    border: 2px solid #2B3726;
    border-radius: 6px;
}

.btn_delete:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #737272;
    color: black;
    border: 2px solid #2B3726;
    border-radius: 6px;
}
